// ---------- FONTS ----------
$roboto: 'Roboto-Regular';
$robotoBold: 'Roboto-Bold';
$robotoLight: 'Roboto-Light';
$robotoSemiBold: 'Roboto-Bold';
$robotoMedium: 'Roboto-Medium';
$robotoThin: 'Roboto-Thin';


// ---------- COLORS ----------


// ---------- DARK THEME ----------



// ---------- LIGHT THEME ----------


// ---------------------------------


//ipad and mobile width for media queries

