
.app-bar {
    .css-1cndkqf-MuiToolbar-root {
        display: flex;
        justify-content: space-between;
    }
    .css-19r6kue-MuiContainer-root {
        max-width: 1840px;
        padding-left: 10;
        padding-right: 10;
    }
    .documatic-logo {
        font-size: 20px;
        font-family: 'Roboto';
        font-weight: 400;
    }
    .project-name {
        font-size: 28px;
        font-family: 'Roboto';
        font-weight: 500;
    }
    .publish-name {
        font-size: 20px;
        font-family: 'Roboto';
        font-weight: 400;
    }
    .last-publish {
        font-size: 20px;
        font-family: 'Roboto';
        font-weight: 400;
    }
}
