.platform-modal {
    .dialog-content {
      width: 484px;
      height: 350px;
    }
 .modal-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';

  .publish-heading {
    font-family: 'Roboto';
    font-size: 14px;
  }
  .code-link {
    font-family: 'Roboto';
    font-size: 14px;
  }
    .hoisting-service {
        p {
        font-family: 'Roboto';
        font-size: 14px;
        }
        display: flex;
        .full-field {
            margin-left: 10px;
        }
      
    }
   .btns-section {
       display: flex;
       flex-direction: column;
       margin-top: 50px;
    .removebtn {
        margin-top: 0px;
        height: 28px;
        width: 140px;
        font-family: 'Roboto';
        font-size: 8px;
        margin-top: 10px;
        background: var(--btn-danger) !important;
        color: var(--normal-text) !important;
       } 
      .Savebtn {
        margin-top: 0px;
        height: 28px;
        width: 140px;
        font-family: 'Roboto';
        font-size: 8px;
      } 
   } 
   
     
 }   

 

}