.Login-Page {
    .inputs {
        .inputs-section {
            .errorText {
                color:  var(--error-text) !important;
                font-size: 0.8rem;
                margin-top: 0px;
              }
        }
        .css-mhc70k-MuiGrid-root>.MuiGrid-item {
            padding-top: 0;
        }
    .submit-button {
        background-color: var(--submit-btn) !important;
    }    
    .forgot-link {
        color:  var(--submit-btn) !important;
    }
    .signup-link {
        color:  var(--submit-btn) !important;
    }
    }
   
}