.share-modal {
    .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
      width: 484px;
      max-width: 800px;
      height: 350px;
    }
 .modal-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .info-label {
        font-size: 20px;
        font-family: 'Roboto';
        font-weight: 400; 
    }
    .email-section {
        width: 100%;
        
    }
    .url-section {
        width: 100%;
    }
    
    .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
        width: 100%;
    }
 }   
.title-section {
    display: flex;
    justify-content: space-between;
}


}