.review-rightbar {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    top:0;
    bottom: 0;
    width: 20%;
    height: 100%;
    background-color: var(--color-side-bar);
    .content {
        width: 51%;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        .Sharebtn {
            margin-top: 20px;
        }
    }
    
}