.review-rightbar {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 350px;
    height: 100%;
    background-color: lightgray;
    .content {
        width: 50%;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        .Sharebtn {
            margin-top: 20px;
        }
    }
    
}