.user-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    height: 100px;
    justify-content: space-between;
   .active {
        font-family: 'Roboto';
        font-size: 15px;
        font-weight: 500;
        color: var(--normal-text);
        text-decoration: none;
        font-family: 'Roboto';
        margin-bottom: 30px;
        display: flex;
        justify-content: inherit;
        align-items: center;
        width: 80px;

   }
   .inactive {
        font-family: 'Roboto';
        font-size: 15px;
        font-weight: 500;
        color: grey;
        text-decoration: none;
        font-family: 'Roboto';
        margin-bottom: 30px;
        display: flex;
        justify-content: inherit;
        align-items: center;
        width: 80px;
   }
}